@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700);
/**
 * This theme is based on the simple theme from reveal.js.
 * Copyright (C) 2016 Dat Tran, http://dat-tran.com/
 * The simple theme is Copyright (C) 2012 Owen Versteeg, https://github.com/StereotypicalApps. It is MIT licensed.
 * reveal.js is Copyright (C) 2011-2012 Hakim El Hattab, http://hakim.se
 */
/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: #fff;
  background-color: #fff;
  overflow-x:hidden !important;
  overflow-y:hidden !important;
}
body { /* Change the logo urls in the line after if needed */
    background: url("logo.png"), url("bt.jpg"), url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='40px' width='auto'><text x='10' y='20' fill='grey' font-size='30'> Kube-101: Introducing Kubernetes </text></svg>");
    background-size: 10%, 10%, 95%;
    background-position: 5% 5%, 95% 5%, 100% 98%;
    background-repeat: no-repeat, no-repeat, no-repeat;
}
.reveal {
  font-family: "PT Sans", Helvetica, Arial, sans-serif!important;
  font-size: 25px;
  font-weight: normal;
  color: #3C3D42;
}

::selection {
  color: #fff;
  background: #bee4fd;
  text-shadow: none;
}

.reveal .slides > section,
.reveal .slides > section > section {
  line-height: 1.5;
  font-weight: inherit;
  font-size: 28px;
}

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: #222;
  font-family: "PT Sans", Helvetica, Arial, sans-serif!important;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: normal;
  text-transform: uppercase;
  text-shadow: none;
  word-wrap: break-word; }

.reveal h1 {
  font-size: 1.5em;
  color: #3C3D42;
}

.intro_h1 h1 {
  font-size: 3em;
  color: #355C7D;
}

.divider_h1 h1 {
  font-size: 3em;
  color: #fff;
}

.reveal h2 {
  font-size: 1.6em; }

.reveal h3 {
  font-size: 1.3em; }

.reveal h4 {
  font-size: 1em; }

.reveal h1 {
  text-shadow: none; }

/*********************************************
 * OTHER
 *********************************************/

.reveal span.a { display: inline-block; width: 150px; }
.reveal span.b { display: inline-block; width: 20px; }

html.img-transparent body {
  background-color: #4D4D4D;
}

html.img-transparent div.intro-body {
  width: 100%;
  padding: 25px;
  background-color: rgba(255,255,255,0.8);
  }

html.img-transparent div.slide-background.present {
  opacity: 0.4;
  filter: alpha(opacity=44)
}

/* Style for Footer */

/* unvisited link */
#title-footer a:link {
  color: #355C7D;
}

/* visited link */
#title-footer a:visited {
  color: #355C7D;
}

/* mouse over link */
#title-footer a:hover {
  color: #1d374c;
}

/* selected link */
#title-footer a:active {
  color: #1d374c;
}

/* Different style for unordered and ordered list */

ul li{
  list-style: none;
  margin-left: 0;
  padding-left: 1em;
}

ul li:before {
  display: inline-block;
  /*content: "\25CD";*/
  width: 1em;
  margin-left: -1em;
  color: #000000;
}

/* Correct for links in list */
ul li p {
  display: inline;
}

ul li ul li {
  list-style: none;
  margin-left: 0;
  padding-left: 1em;
}

ul li ul li:before {
  display: inline-block;
  content: "-";
  width: 1em;
  margin-left: -1em;
}

ol li ul li {
  list-style: none;
  margin-left: 0;
  padding-left: 1em;
}

ol li ul li:before {
  display: inline-block;
  content: "-";
  width: 1em;
  margin-left: -1em;
}

/*********************************************
 * LINKS
 *********************************************/
.reveal a:not(.image) {
  color: #2D7FDD;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  -ms-transition: color .15s ease;
  -o-transition: color .15s ease;
  transition: color .15s ease; }

.reveal a:not(.image):hover {
  color: #2D7FDD;
  text-shadow: none;
  text-decoration: underline;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #00003f; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0);
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -ms-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear; }

/*.reveal a:hover img {*/
  /*background: rgba(255, 255, 255, 0.2);*/
  /*border-color: darkblue;*/
  /*box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }*/

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls div.navigate-left,
.reveal .controls div.navigate-left.enabled {
  border-right-color: #F27C3A; }

.reveal .controls div.navigate-right,
.reveal .controls div.navigate-right.enabled {
  border-left-color: #F27C3A; }

.reveal .controls div.navigate-up,
.reveal .controls div.navigate-up.enabled {
  border-bottom-color: #F27C3A; }

.reveal .controls div.navigate-down,
.reveal .controls div.navigate-down.enabled {
  border-top-color: #F27C3A; }

.reveal .controls div.navigate-left.enabled:hover {
  border-right-color: #0000f1; }

.reveal .controls div.navigate-right.enabled:hover {
  border-left-color: #0000f1; }

.reveal .controls div.navigate-up.enabled:hover {
  border-bottom-color: #0000f1; }

.reveal .controls div.navigate-down.enabled:hover {
  border-top-color: #0000f1; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2); }

.reveal .progress span {
  background: #e83737;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -ms-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -o-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

/*********************************************
 * SLIDE NUMBER
 *********************************************/
.reveal .slide-number {
  font-family: "PT Sans", Helvetica, Arial, sans-serif!important;
  font-size: 15px;
  font-weight: bold;
  color: #0093C9;
}
